@import "https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100,200,300,400,500,600,700&display=swap";

:root {
    --color-purple: #511966;
    --color-white: #FFFFFF;
    --color-yellow: #FFCC00;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: var(--color-purple);
    color: var(--color-white);
}

header {
    padding: 32px;
}

.menu {
    text-align: center;
}

.menu a {
    font-size: 24.88px;
    color: var(--color-white);
    text-decoration: none;
    margin: 0 16px;
}

.menu a:hover {
    color: var(--color-yellow);
    transition: color 500ms;
}

.informacoes {
    text-align: center;
    padding: 32px;
}

.informacoes img {
    border-radius: 50%;
    border: 5px solid var(--color-white);
    height: 450px;
}

.informacoes h2 {
    margin-top: 16px;
    font-size: 58.92px;
    line-height: 68.92px;
    font-weight: 700;
}

.informacoes h4 {
    margin-top: 8px;
    font-size: 33.16px;
    line-height: 43.16px;
    font-weight: 500;
}

.informacoes p {
    max-width: 500px;
    margin: 8px auto;
    font-size: 18.66px;
    line-height: 28.66px;
    font-weight: 400;
}

.informacoes p a {
    color: var(--color-yellow);
    font-size: 18.66px;
    line-height: 28.66px;
    font-weight: 400;
    text-decoration: none;
}